#General build artifacts
*.mk
*.o
*.a
*.elf
*.hex
*.axf
*.d
*.lst
*.map
*.plg
*.lnp
*.crf
*.tra
*.sct
*.bak
*.dep
*.launch
*makefile
*.ld
*.bin

#MDK-ARM
*.__i
*.htm
*.uvgui.*
*.uvopt
*.axf

#Eclipse
.metadata
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
Debug/

#Mac
.DS_Store